# binaries & build output
/bin/
/mergebase
*.test
web/dist/*
!web/dist/index.html
web/node_modules/

# application state
/data/
*.db
*.db-journal
*.db-wal
*.db-shm

# environment & editor
.env
.DS_Store
